body {
    font-family: "Yuji Syuku", serif;
    background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
  }
.footer-font {
    font-size: 10px;
  }
.font-syuji {
    font-family: "Yuji Syuku", serif;
    font-weight: 500;
  }
.btn-red {
    background-color: #dc3545;
    color: #fff;
    border-radius: 25px;
  }
.btn-red:hover {
    color: #fff !important;
    filter: brightness(85%);
  }
.ul-red li{
    color: #dc3545;
    list-style-type: square;
  }
.red-box-border {
    border: thick double #ff0000;
    outline: 0.2rem solid #ff0000;
  }
.about-box-width {
    width: 290px;
  }
.developers-box-width {
    width: 240px;
}