.rotate {
    animation: rotation 5s infinite ease-in-out;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.bound {
    animation: bound 3s ease infinite;
}
@keyframes bound {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-15px)
    }

    25% {
        transform: translateY(0)
    }

    30% {
        transform: translateY(-15px)
    }

    35% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(0)
    }
}


